<div class="about col-md-10 col-md-offset-1 col-xs-12">
    <div class="about-face">
        <img src="resources/img/myFace_web.png">
    </div>
    <div class="about-header">
        <!--<div class="col-xs-2 col-sm-3 col-md-4">
            <div class="h-div"></div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-4">
            <h2>Mike McKean</h2>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-4">
            <div class="h-div"></div>
        </div>-->
        <table>
            <tbody>
                <tr>
                    <td width="50%"><div class="h-div"></div></td>
                    <td><h2>Mike McKean</h2></td>
                    <td width="50%"><div class="h-div"></div></td>
                </tr>
            </tbody>
        </table>
        <h3>Illustrator, Animator, Designer</h3>
    </div>
    <div class="about-content tk-rosario">
        <p>I'm an entertainment-based artist, with a love for characters and animation. My goal is to be intertwined in the field of cartoon animation, as I tend to focus on storyboarding, character design, and animation.</p>
        <p>While spending a year and a half studying engineering after high school, it became very apparent to me that my artistic aspirations were quickly overpowering my desire to be an engineer. I had no choice but to drop out and begin my studies at College for Creative Studies. However, that period of my education left me with a variety of technical skills, and later even helped me create my own website (you're looking at it!). I see myself as an intelligent, dedicated and inspired individual, and I can't wait to see what new projects are in store for me.</p>
        <p>Sold yet? Get in touch! <i class="fa fa-long-arrow-right"></i> <b>mgmckean@gmail.com</b></p>
    </div>
    <div class="about-footer">
        <div class="social-icons">
            <a href="http://www.linkedin.com/pub/mike-mckean/77/a32/566/en" hoverable target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="http://karrowart.tumblr.com" hoverable target="_blank">
                <i class="fa fa-tumblr-square"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCAdZpa_3G3LguntoCRyEv1g/videos" hoverable target="_blank">
                <i class="fa fa-youtube-square"></i>
            </a>
            <a href="" hoverable target="_blank">
                <i class="fa fa-vimeo-square"></i>
            </a>
        </div>
    </div>
</div>