<div class="sq" hoverable ng-click="$rootScope.outro = !$rootScope.outro;">
    <div class="svgDogs">
        <svg class="svg dog1" viewBox="0 0 400 420"></svg>
        <svg class="svg dog2" viewBox="0 0 400 420"></svg>
    </div>
    <div class="circle-text-container">
        <div class="circle-text"><span>E</span></div>
        <div class="circle-text"><span>N</span></div>
        <div class="circle-text"><span>T</span></div>
        <div class="circle-text"><span>E</span></div>
        <div class="circle-text"><span>R</span></div>
        <div class="circle-text"><span>H</span></div>
        <div class="circle-text"><span>E</span></div>
        <div class="circle-text"><span>R</span></div>
        <div class="circle-text"><span>E</span></div>
    </div>
</div>